{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Safe Entry Contact Tracing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% comment %}
	<link rel="stylesheet" href="{% static 'accounts/mdi/css/materialdesignicons.min.css' %}"> {% endcomment %}
	<link rel="stylesheet" href="{% static 'accounts/style_mui.css' %}">
</head>

<body>
	{% block content %}{% endblock content %}

	<script src="{% static 'js/vendor.bundle.base.js' %}"></script>
	<script src="{% static 'js/material.js' %}"></script>
	<script src="{% static 'js/misc.js' %}"></script>
	{% block scripts %} {% endblock scripts %}
</body>
</html>